body{
    height: 1250px;
    background-image: url('https://66.media.tumblr.com/649fb6d544e2d5147ef97d0fac706c05/tumblr_nbszs7B2DK1tjryj4o1_500.gif');
        background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    