body{
    height: 940px;
    background-image: url('../assets/light.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    }
  h1{
    text-align: center;
    margin-top: 5%;
  }
  #labelText{
    text-align: center;
    font-size: 20px;
  }
  #map {
    height: 425px;
  }
  