@charset "UTF-8";
body {
  height: 940px;
  background-image: url("../backlit-couple-dawn-1824684.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white; 
}
#btnLogout{
  margin-top: -5px;
    /* margin-left: 60%; */
}
#user{
  float: right;
    background-color: #00000069;
    height: 120px;
    width: 300px;
}
#user p{
  text-align: center;
    margin-top: 20px;
    font-size: 20px;
}
#header{
  color: white;
  margin-top: 15%;
  font-size: 50px;
}
table{
  display: inline;
  text-align: center;

}

.modal-body{
  padding: 1em 1em;
}
.modal{
  text-align: center;
  color: black;
}
.modal-dialog{
  max-width:80vw;
  width: fit-content;
  
}
.modal-dialog h6{
  margin: auto;
}
.tableFloat{
  float: left;
  margin: auto;
  display: flex;
/*   width: fit-content; */
  width: 100%;
  flex-wrap: wrap;
}
h1 {
  text-align: center;
  margin-top: 5%; }

#labelText {
  text-align: center;
  font-size: 20px;
color: white;
}
.movie-title{
  position: absolute;
  width:100%;
  z-index: 100;
  padding: 1em 2em 0em 0;
  text-align: center;
  color: black;
}

#map {
  height: 425px; }

button {
  color: white;
  background: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  position: relative;
  margin: 1em auto;
  display: inline-block;
  padding: 0.5em 1em;
  transition: all 0.3s ease-in-out;
  text-align: center;
  font-family: comfortaa;
  font-weight: bold;
  }

button:before, button:after {
  content: '';
  display: block;
  position: absolute;
  border-color: #454545;
  box-sizing: border-box;
  border-style: solid;
  width: 1em;
  height: 1em;
  transition: all 0.3s ease-in-out; }

button:before {
  top: -6px;
  left: -6px;
  border-width: 2px 0 0 2px;
  z-index: 5; }

button:after {
  bottom: -6px;
  right: -6px;
  border-width: 0 2px 2px 0; }

button:hover:before, button:hover:after {
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-color: #fff; }

button:hover {
  color: #353535;
  background-color: #fff;
  border-color: #fff; }

.panel {
  max-width: 960px;
  text-align: center;
  position: relative;
  margin: auto; }

  .stage {
    height: 200px;
    width: 500px;
   
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    perspective: 9999px;
    transform-style: preserve-3d; }
  
  .layer {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    animation: ಠ_ಠ 5s infinite alternate ease-in-out -7.5s;
    animation-fill-mode: forwards;
    transform: rotateY(40deg) rotateX(33deg) translateZ(0); }
  
  .layer:after {
    font: 100px/0.65 'Pacifico', 'Kaushan Script', Futura, 'Roboto', 'Trebuchet MS', Helvetica, sans-serif;
    content: 'Dinner\A and movie?';
    white-space: pre;
    text-align: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 20px;
    color: whitesmoke;
    letter-spacing: -2px;
    text-shadow: 4px 0 10px rgba(0, 0, 0, 0.13); }
  
  .layer:nth-child(1):after {
    transform: translateZ(0px); }
  
  .layer:nth-child(2):after {
    transform: translateZ(-1.5px); }
  
  .layer:nth-child(3):after {
    transform: translateZ(-3px); }
  
  .layer:nth-child(4):after {
    transform: translateZ(-4.5px); }
  
  .layer:nth-child(5):after {
    transform: translateZ(-6px); }
  
  .layer:nth-child(6):after {
    transform: translateZ(-7.5px); }
  
  .layer:nth-child(7):after {
    transform: translateZ(-9px); }
  
  .layer:nth-child(8):after {
    transform: translateZ(-10.5px); }
  
  .layer:nth-child(9):after {
    transform: translateZ(-12px); }
  
  .layer:nth-child(10):after {
    transform: translateZ(-13.5px); }
  
  .layer:nth-child(11):after {
    transform: translateZ(-15px); }
  
  .layer:nth-child(12):after {
    transform: translateZ(-16.5px); }
  
  .layer:nth-child(13):after {
    transform: translateZ(-18px); }
  
  .layer:nth-child(14):after {
    transform: translateZ(-19.5px); }
  
  .layer:nth-child(15):after {
    transform: translateZ(-21px); }
  
  .layer:nth-child(16):after {
    transform: translateZ(-22.5px); }
  
  .layer:nth-child(17):after {
    transform: translateZ(-24px); }
  
  .layer:nth-child(18):after {
    transform: translateZ(-25.5px); }
  
  .layer:nth-child(19):after {
    transform: translateZ(-27px); }
  
  .layer:nth-child(20):after {
    transform: translateZ(-28.5px); }
  
  .layer:nth-child(n+10):after {
    -webkit-text-stroke: 3px rgba(0, 0, 0, 0.25); }
  
  .layer:nth-child(n+11):after {
    -webkit-text-stroke: 15px rgb(58, 60, 63);
    text-shadow: 6px 0 6px #4a4c4e, 5px 5px 5px #444749, 0 6px 6px #606366; }
  
  .layer:nth-child(n+12):after {
    -webkit-text-stroke: 15px #55585c; }
  
  .layer:last-child:after {
    -webkit-text-stroke: 17px rgba(0, 0, 0, 0.1); }
  
  .layer:first-child:after {
    color: #fff;
    text-shadow: none; }
  
  @keyframes ಠ_ಠ {
    100% {
      transform: rotateY(-40deg) rotateX(-43deg); } }
  
  /*# sourceMappingURL=style.css.map */
  figure { 
    width: 250px;
  }
  
  .poster:hover{
    transition: all 500ms linear;
    transform: scale(1.5); 
    opacity: 1; 
    z-index: 99;
  }
 
 
  .poster { 
    opacity: 1;
    transform: scale(1.0); 
    transition: all 500ms linear; 
    position: relative;
    float: left;
    z-index: 1;
    margin: 1em 0;
    width: 100%;
    box-shadow: aliceblue .5em .5em 10em .01em
  }
  .card-body{
    display: flex;
    background-color: #ffffff94;
    border-left: 1px black solid;
    border-right: 1px black solid;
    border-bottom: 1px black solid;
  }
  h1{
    font-size: 40px;
    text-align: center;
    margin-top: 5%;
    font-family: 'Pacifico', cursive;
  }

@keyframes ಠ_ಠ {
  100% {
    transform: rotateY(-40deg) rotateX(-43deg); } }
.tab:hover {
  z-index: 1; }

.top-tab {
  margin-left: 30%;
  width: 150px;
  height: 60px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: -20px;
  border-radius: 5px;
  transition: .2s; }

  .top-tab-3 {
    background: linear-gradient(to top right, #26C6DA, #006064);
    left: 46%; }
  .top-tab-4 {
    background: linear-gradient(to top right, #5C6BC0, #1A237E);
    left: 54%; }
  .top-tab-content {
    color: white;
    padding-top: 30px;
    padding-left: 5px;
    transition: .2s;
    }
  .top-tab:hover {
    transform: translateY(10px) scale(1.05); }
  .top-tab:hover .top-tab-content {
    font-weight: bold; }

/*# sourceMappingURL=style.css.map */
#loginPg {
  width: 360px;
  padding: 8% 0 0;
  position: fixed;
  margin-left: 30%;
}
#registerPg {
  width: 360px;
  padding: 8% 0 0;
  position: fixed;
  margin-left: 30%;
}
.form {
  border: 1px black solid;
  position: relative;
  z-index: 1;
  background: #030511bd;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  margin-left: 0px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #7a2588;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

.container:before, .container:after, #find-restaurant {
  /* content: ""; */
  display: block;
  clear: both;
}
 .info {
  margin: 50px auto;
  text-align: center;
}
 .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
 .info span {
  color: #4d4d4d;
  font-size: 12px;
}
 .info span a {
  color: #000000;
  text-decoration: none;
}
 .info span .fa {
  color: #EF3B3A;
}
.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(243, 235, 235, 0.97);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.card{
  background: transparent;
}
.login-form button{
  width: 100%;
  margin: 0;
}
.container-fluid{
  padding: 0;
}
.focus{
  background: blanchedalmond;
}


#location-form{
  padding: 0;
}
.showtime, .select-button, .cuisine-btn{
  border: solid 1px;
  border-radius: .5em;
  padding: .2em;
  display: inline-block;
  margin: 0 1em;
  color: black;
}
.cuisine-btn{
  margin: 1em;
}
#movieTabl{
  width: fit-content;
}
.width{
  width: 8em;
  min-width: 60vw;
  
}
#selectRestaurantBtn{
  color: black;
  width: 230px;
  font-size: 20px;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  position: relative;
  margin: 1em auto;
  display: flex;
  padding: 0.5em 1em;
  transition: all 0.3s ease-in-out;
  font-family: comfortaa;
  font-weight: bold;
}
.showtime:hover, .select-button:hover, .cuisine-btn:hover{
  background: blanchedalmond;
  text-decoration: none;
  color: black;
}
#find-restaurant{
  color: black;
  
  
}
#find-restaurant:hover{
  color: white;
  background: green;
  width: + 18px;
  height: + 18px;
  border: double .9em  white ;
  
}
#movieDescrip a{
  color: black;
}
#movieDescrip{
  width: 100%
}
#movieDescrip h3{
  margin: auto;
}
#movieDescrip button{
  color: blue;
}
.restaurant {
  /* margin-left: 20%; */
  background: #f0f8ffd4;
  color: black;
  margin: 1em auto;
  text-align: center;
  height: 80px;
  border: 1px black solid;
}
.restaurant h3{
  margin-top: 5px;
  font-family: 'Lobster', cursive;
  cursor: pointer;
}

#movieCard{
  margin-top: 20px;
}
.input::placeholder {
  color: red;
}
.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 3px solid #30567b;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
/*CLOSE BUTTON*/
.close {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 0.75em;
  height: 0.75em;
  position: relative;
  border: none;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  font: normal 8em/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #1abc9c;
  -webkit-transform: rotateZ(471.54426539266757deg)   ;
  transform: rotateZ(471.54426539266757deg)   ;
  font-size: 40px;
}

.close:hover {
  background: rgba(247,0,0,1);
  -webkit-transition: background 350ms cubic-bezier(0.42, 0, 0.58, 1) 10ms, all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: background 350ms cubic-bezier(0.42, 0, 0.58, 1) 10ms, all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: background 350ms cubic-bezier(0.42, 0, 0.58, 1) 10ms, all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: background 350ms cubic-bezier(0.42, 0, 0.58, 1) 10ms, all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -webkit-transform: rotateX(-1.7188733853924696deg) rotateZ(19.48056503444799deg)   ;
  transform: rotateX(-1.7188733853924696deg) rotateZ(19.48056503444799deg)   ;
}

.close:active {
  background: #1abc9c;
  -webkit-box-shadow: 2px 2px 9px 1px rgba(0,0,0,0.5) inset;
  box-shadow: 2px 2px 9px 1px rgba(0,0,0,0.5) inset;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transform: rotateZ(471.54426539266757deg)   ;
  transform: rotateZ(471.54426539266757deg)   ;
}

.close::before {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 0.45em;
  height: 0.1em;
  position: absolute;
  content: "";
  top: 0.33em;
  left: 0.155em;
  border: none;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #ffffff;
  text-shadow: none;
  -webkit-transform: rotateZ(24.064227395494576deg)   ;
  transform: rotateZ(24.064227395494576deg)   ;
}

.close::after {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 0.45em;
  height: 0.1em;
  position: absolute;
  content: "";
  top: 0.33em;
  left: 0.155em;
  border: none;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #ffffff;
  text-shadow: none;
  -webkit-transform: rotateZ(-66.46310423517549deg)   ;
  transform: rotateZ(-66.46310423517549deg)   ;
}
.text {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 36px/1 "Cabin Condensed", Helvetica, sans-serif;
  color: #ffffff;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.hiddenTitle{
  visibility: hidden;
}
@media only screen and (max-width: 1100px) {
	.stage{
    visibility: hidden;
  }
  .hiddenTitle{
    visibility: visible;
    font-weight: bold;
    width: 4em;
    margin-top: 20px;
    font-family: 'Pacifico', cursive;
  }
}